
<div class="footer2">
	<div class="footer2in">
    	<ul class="left">
        	<li><lanmu lanmu_id='16'>[field.lanmu_name]</lanmu>
            	<ul>
            		<lanmu lanmu_id='15'>
            			<li><a href="{:U('[field.model]/index',array('lanmu_id'=>[field.lanmu_id]))}" target='_blank'>[field.lanmu_name]</a></li>
            		</lanmu>
					<lanmulist toplanmu_id='16' limit='5' order='paixu'>
                		<li><a href="{:U('Danye/index',array('lanmu_id'=>[field.lanmu_id]))}" target='_blank'>[field.lanmu_name]</a></li>
					</lanmulist>
				</ul>
            </li>
            <li><lanmu lanmu_id='18'>[field.lanmu_name]</lanmu>
            	<ul>
                	<lanmulist toplanmu_id='18' limit='5' order='paixu'>
                		<li><a href="{:U('Danye/index',array('lanmu_id'=>[field.lanmu_id]))}" target='_blank'>[field.lanmu_name]</a></li>
					</lanmulist>
                </ul>
            </li>
            <li><lanmu lanmu_id='23'>[field.lanmu_name]</lanmu>
            	<ul>
                	<lanmulist toplanmu_id='23' limit='5' order='paixu'>
                		<li><a href="{:U('Danye/index',array('lanmu_id'=>[field.lanmu_id]))}" target='_blank'>[field.lanmu_name]</a></li>
					</lanmulist>
                </ul>
            </li>
            <li><lanmu lanmu_id='28'>[field.lanmu_name]</lanmu>
            	<ul>
                	<lanmulist toplanmu_id='28' limit='5' order='paixu'>
                		<li><a href="{:U('Danye/index',array('lanmu_id'=>[field.lanmu_id]))}" target='_blank'>[field.lanmu_name]</a></li>
					</lanmulist>
                </ul>
            </li>
            <li><lanmu lanmu_id='31'>[field.lanmu_name]</lanmu>
            	<ul>
                	<lanmulist toplanmu_id='31' limit='5' order='paixu'>
                		<li><a href="{:U('Danye/index',array('lanmu_id'=>[field.lanmu_id]))}" target='_blank'>[field.lanmu_name]</a></li>
					</lanmulist>
                </ul>
            </li>
        </ul>
        <img src="__ROOT__/Templates/images/ewm.jpg" width="173" height="169" style="margin:5px 0 0 10px;"/>
    </div>
</div>
<div class="footer">
  <p>服务热线：0391-xxxxxxx　 传真：0391-xxxxxxx 　 邮箱：956745824@qq.com　 地址：新区丹尼斯南门朝北门面房东边第一户</p>
  <p>COPYRIGHT &copy 2014 焦作市XXXX工程有限公司 版权所有     技术支持：<a href="http://www.dtshy.win">洞天水月</a>    <a href="/admin.php">【后台管理】</a></p>
</div>