<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>焦作市家汇装饰工程有限公司</title>
<meta name="Keywords" content="焦作市家汇装饰工程有限公司,焦作市装修公司,焦作市装饰公司,焦作市家装公司" />
<meta name="Description" content="焦作市家汇装饰工程有限公司成立于2003年，十年来，家汇人致力于家居设计装饰，工装设计装潢专业设计施工，秉承"设计零缺憾、施工零缺点、材料零抱怨、品质零投诉"的服务理念，在焦作家装界留下了良好的口碑，获得广大客户一致赞扬和认同。" />
<link rel="stylesheet" href="__ROOT__/Templates/css/style.css" />
<link rel="stylesheet" href="__ROOT__/Templates/css/index.css" />
<link rel="stylesheet" href="__ROOT__/Templates/css/neiye.css" />
<script type="text/javascript" src="__ROOT__/Templates/js/jq.min.js"></script>
<script type="text/javascript" src="__ROOT__/Templates/js/js.js"></script>
<style type='text/css'>
	.m_category_bd{ display:none;}
</style>
</head>

<body>
<div id='hongbaolq'>
	<span id='close' onclick="closebox()">X关闭</span>
	<h2>领取红包</h2>
	<form action="{:U('Hongbao/yqhb')}" method="post">
		<label>您的姓名：<input type='text' name='name'/></label><br/>
		<label>您的电话：<input type='text' name='telphone'/></label><br/>
		<input type='hidden' id='hongbao_id' name='hongbao_id' />
		<input type='submit' class='hblqsubmit' value='点击领取'/>
	</form>
</div>
<include file="./templates/head.html" />
<div class="hbbanner"></div>
<div class="middle" style="width:1010px;">
	<div class="tgys1">
    	<span class="left">红包疯抢</span><span class="right">百万红包，等你来抢</span>
    </div>
    <div class="tgys2">
    	<div class="qhb_c">
        	<ul>
            	<Volist name='hongbao' id='vo'>
				<li><a href="##"  onclick=qianghongbao({$vo.hongbao_id})><span class='price'><if condition="$vo[price] eq 0">免费<else/>{$vo.price}元</if></span><span class='jine'>{$vo.jine}</span><span class='yiqianggou'>{$vo.yiqianggou}</span><span class='pinpai'><img src='/uploadfiles/{$vo.pinpai_logo}' alt='{$vo.pinpai_name}' title='{$vo.pinpai_name}' width='145' height='47'/></span></a></li>
				</Volist>
            </ul>
        </div>
    </div>    	
</div>
<include file="./templates/footer.html" />
</body>
</html>