<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>焦作市家汇装饰工程有限公司</title>
<meta name="Keywords" content="焦作市家汇装饰工程有限公司,焦作市装修公司,焦作市装饰公司,焦作市家装公司" />
<meta name="Description" content="焦作市家汇装饰工程有限公司成立于2003年，十年来，家汇人致力于家居设计装饰，工装设计装潢专业设计施工，秉承"设计零缺憾、施工零缺点、材料零抱怨、品质零投诉"的服务理念，在焦作家装界留下了良好的口碑，获得广大客户一致赞扬和认同。" />
<link rel="stylesheet" href="__ROOT__/Templates/css/style.css" />
<link rel="stylesheet" href="__ROOT__/Templates/css/index.css" />
<link rel="stylesheet" href="__ROOT__/Templates/css/neiye.css" />
<script src="/Templates/js/jq.min.js" type="text/javascript"></script>
<script src="/Templates/js/js.js" type="text/javascript"></script>
<style type='text/css'>
	.m_category_bd{ display:none;}
	.jianlibaoming{ background:#0071CF; color:#fff; text-align:center; padding:10px 0;}
	.jianlibaoming label{ display:block; height:40px; }
	.jianlibaoming #submit{ border:none; background:#DDDDDD; padding:5px 20px; border:#fff 1px solid;}
</style>
<link href="http://dcp.net361.net/templates/css/magiczoomplus.css" rel="stylesheet" type="text/css" />
<script src="http://dcp.net361.net/templates/js/magiczoomplus.js"  type="text/javascript" ></script>
</head>


<body>
<include file="./templates/head.html" />
<div class="middle danye">
	<div class="position">您当前的位置：<a href="#">首页</a>&nbsp;>&nbsp;{$danye.lanmu_name}</div>
	<div class="dyleft">
    	<div class="tit">家汇装饰</div>
         <ul>
        	<li><span><lanmu lanmu_id='18'>[field.lanmu_name]</lanmu></span>
            	<ul>
                	<lanmulist toplanmu_id='18' limit='5' order='paixu'>
                		<li><a href="{:U('Danye/index',array('lanmu_id'=>[field.lanmu_id]))}" target='_blank'>[field.lanmu_name]</a></li>
					</lanmulist>
                </ul>
            </li>
        </ul>
       <ul>
        	<li><span><lanmu lanmu_id='23'>[field.lanmu_name]</lanmu></span>
            	<ul>
                	<lanmulist toplanmu_id='23' limit='5' order='paixu'>
                		<li><a href="{:U('Danye/index',array('lanmu_id'=>[field.lanmu_id]))}" target='_blank'>[field.lanmu_name]</a></li>
					</lanmulist>
                </ul>
            </li>
        </ul>
        <ul>
        	<li><span><lanmu lanmu_id='28'>[field.lanmu_name]</lanmu></span>
            	<ul>
                	<lanmulist toplanmu_id='28' limit='5' order='paixu'>
                		<li><a href="{:U('Danye/index',array('lanmu_id'=>[field.lanmu_id]))}" target='_blank'>[field.lanmu_name]</a></li>
					</lanmulist>
                </ul>
            </li>
        </ul>
		<ul>
        	<li><span><lanmu lanmu_id='31'>[field.lanmu_name]</lanmu></span>
            	<ul>
                	<lanmulist toplanmu_id='31' limit='5' order='paixu'>
                		<li><a href="{:U('Danye/index',array('lanmu_id'=>[field.lanmu_id]))}" target='_blank'>[field.lanmu_name]</a></li>
					</lanmulist>
                </ul>
            </li>
        </ul>
    </div>
    <div class="dyright">
    	<div class="tit"><span>{$danye.lanmu_name}</span></div>
       <div class="dyright_c">
		{$danye.content}
		<div class='jianlibaoming'>
			<h2 style='font-size:18px; font-weight:bold; height:40px; line-height:40px; font-weight:bold;'>免费监理报名</h2>
			<form action="{:U('Baoming/add')}" method='post'>
			<input type='hidden' name='type' value='1'/>
				<label>姓　　名：<input type='text' name='name'/></label>
				<label>电　　话：<input type='text' name='telphone'/></label>
				<label>其他信息：<input type='text' name='content'/></label>
				<label><input type='submit' id='submit' value='免费报名'/></label>
			</form>
		</div>
       </div>
    </div>	
</div>
<include file="./templates/footer.html" />
</body>
</html>