<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>焦作市家汇装饰工程有限公司</title>
<meta name="Keywords" content="焦作市家汇装饰工程有限公司,焦作市装修公司,焦作市装饰公司,焦作市家装公司" />
<meta name="Description" content="焦作市家汇装饰工程有限公司成立于2003年，十年来，家汇人致力于家居设计装饰，工装设计装潢专业设计施工，秉承"设计零缺憾、施工零缺点、材料零抱怨、品质零投诉"的服务理念，在焦作家装界留下了良好的口碑，获得广大客户一致赞扬和认同。" />
<link rel="stylesheet" href="__ROOT__/Templates/css/style.css" />
<link rel="stylesheet" href="__ROOT__/Templates/css/index.css" />
<link rel="stylesheet" href="__ROOT__/Templates/css/neiye.css" />
<script src="/Templates/js/jq.min.js" type="text/javascript"></script>
<script src="/Templates/js/js.js" type="text/javascript"></script>
<style type='text/css'>
	.m_category_bd{ display:none;}
</style>
<link href="http://dcp.net361.net/templates/css/magiczoomplus.css" rel="stylesheet" type="text/css" />
<script src="http://dcp.net361.net/templates/js/magiczoomplus.js"  type="text/javascript" ></script>
<script type="text/javascript" src="__ROOT__/Templates/js/js.js"></script>
<script type="text/javascript">
daojishi({$mssz.ms_start_time},{$mssz.ms_end_time});
</script>
</head>


<body>
<include file="./templates/head.html" />
<div class="middle">
	<div class="position">您当前的位置：{$position}{$product.title}</div>
	<div class="left">
        <div class="cainingxihuan">
        	<h2>您可能会喜欢</h2>
            <ul>
				<Volist name="xianshimiaosha" id='vo'>
					<li><img src="/uploadfiles/{$vo.image}"/><div><span><a href="{:U('Miaosha/info',array('id'=>$vo[miaosha_id]))}">{$vo.title}</a></span><span class="price">¥{$vo.price}</span></div></li>
                </Volist>
			</ul>
        </div>
        <div class="cainingxihuan">
        	<h2>您可能想了解</h2>
            <ul class="jishuziliao">
            	<Volist name='xljzxzs' id='vo'>
            	<li><a href="{:U('Article/info',array('lanmu_id'=>12,'id'=>$vo[article_id]))}">{$vo.title}</a></li>
                </Volist>
            </ul>
        </div>
    </div>
    <div class="right">
    	<div class="product_main">
			<div class="msdjs"><span class='timer'></span></div>
        	<div class="product_img">
            	<ul class="bigimg">
                	<li class="qianzhi"><a href="/uploadfiles/{$product.image}" class="MagicZoomPlus"><img src="/uploadfiles/{$product.image}" alt="{$product.title}" title="{$product.title}"/></a></li>
                    <li><a href="/uploadfiles/{$product.image2}" class="MagicZoomPlus"><img src="/uploadfiles/{$product.image2}" alt="{$product.title}" title="{$product.title}"/></a></li>
                    <li><a href="/uploadfiles/{$product.image3}" class="MagicZoomPlus"><img src="/uploadfiles/{$product.image3}" alt="{$product.title}" title="{$product.title}"/></a></li>
                </ul>
                <ul class="smallimg">
                	<li ><img src="/uploadfiles/{$product.image}" alt="{$product.title}" title="{$product.title}"/></li>
                    <li ><img src="/uploadfiles/{$product.image2}" alt="{$product.title}" title="{$product.title}"/></li>
                    <li ><img src="/uploadfiles/{$product.image3}" alt="{$product.title}" title="{$product.title}"/></li>
                </ul>
            </div>
                <div class="product_info">
				<form action='__APP__/Dinggou/index' method='post'>
					<input type="hidden" name="product_id" value="{$product.product_id}"/>
					<input type="hidden" name="type" value="3"/>
                    <h1 class="title">{$product.title}</h1>
                    <div class='yuanjia'><span class="p1">原价</span><span class='p2'>¥{$product.price}</span></div>
                    <div class="price">
                    	<span class="p1">惊喜秒杀价</span><span class='p2'>¥</span><span class='p3'>{$product.msprice}</span>
                    </div>
                    <div class="xiaoliang"><span class="x1">限购</span>{$product.xiangou}&nbsp;&nbsp;&nbsp;<span class="x1">件</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="x1">已秒</span>{$product.yimiao|default='0'}&nbsp;&nbsp;&nbsp;<span class="x1">件</span></div>
                    <div class="kucun"><span class="k1"><span class="k1">秒杀截止时间</span>{$mssz.ms_end_time|date='Y-m-d H:i:s',###}</div>
                    <div class="kucun"><span class="k1">数　量</span><input type="number" name="dinggou_num" style="width:50px;" value="1"/></div>
                    <div class="kucun"><span class="k1">电　话</span><input type="text" name="telphone" style="width:150px;" value=""/></div>
                    <div class="kucun"><span class="k1">姓　名</span><input type="text" name="truename" style="width:150px;" value=""/></div>
                    <div class="tgtj"><input type="submit" value="立即订购" /></div>
				</form>
                </div>
            
            </div>
            <div class="spxq">
            	<div class="spxq_t"><span>商品详情</span></div>
                <div class="spxq_c">
						{$product.content}
				</div>
            </div>
        </div>
    </div>	
</div>

<include file="./templates/footer.html" />
</body>
</html>